# Test Drive of yfinance package
From reading the documentation, yfinance appears to be well thought out and returns data in pandas Dataframes so it should make it familiar and easy to use.

Download the library using `pip`

    pip install yfinance

Then, you can import the library in your code.

In [1]:
import yfinance as yf
import pandas as pd     # import pandas for manipulating data

## Single stock
I will start using ths library to look at some information on a single stock, Apple which has the ticker 'AAPL'.

### Fundamental Data
The fundamental data can be found in the Ticker.info method which will return a dict.

In [10]:
ticker1 = yf.Ticker("AAPL")
# get ticker info
info1 = ticker1.info

#### Finding the info you want from the dict returned by Ticker.info
There's a lot of info here, so you can always query the info1 dict for the exact fundamental info you require.

In [13]:
info1['forwardPE']

24.880375

In [11]:
info1

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 100000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'previousClose': 133.41,
 'regularMarketOpen': 133.46,
 'twoHundredDayAverage': 128.80205,
 'trailingAnnualDividendYield': 0.0061464654,
 'payoutRatio': 0.1834,
 'volume24Hr': None,
 'regularMarketDayHigh': 133.89,
 'navPrice': None,
 'averageDailyVolume10Day': 79944542,
 'totalAssets': None,
 'regularMarketPreviousClose': 133.41,
 'fiftyDayAverage': 127.59588,
 'trailingAnnualDividendRate': 0.82,
 'open': 133.46,
 'toCurrency': None,
 'averageVolume10days': 79944542,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 0.88,
 'exDividendDate': 1620345600,
 'beta': 1.208152,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 132.81,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 29.919085,
 'regularMarketVolume': 70783746,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2221286359040,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 84175388,
 'priceToSalesTrailing12Months': 6.8262,
 'dayLow': 132.81,
 'ask': 132.98,
 'ytdReturn': None,
 'askSize': 800,
 'volume': 70783746,
 'fiftyTwoWeekHigh': 145.09,
 'forwardPE': 24.880375,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.34,
 'fiftyTwoWeekLow': 87.82,
 'bid': 132.94,
 'tradeable': False,
 'dividendYield': 0.0066000004,
 'bidSize': 1300,
 'dayHigh': 133.89,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.041,
 'beta3Year': None,
 'profitMargins': 0.23451,
 'enterpriseToEbitda': 22.953,
 '52WeekChange': 0.4717232,
 'morningStarRiskRating': None,
 'forwardEps': 5.35,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16687599616,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 4.146,
 'sharesShort': 108937943,
 'sharesPercentSharesOut': 0.0064999997,
 'fundFamily': None,
 'lastFiscalYearEnd': 1601078400,
 'heldPercentInstitutions': 0.58695,
 'netIncomeToCommon': 76311003136,
 'trailingEps': 4.449,
 'lastDividendValue': 0.22,
 'SandP52WeekChange': 0.4020188,
 'priceToBook': 32.105644,
 'heldPercentInsiders': 0.00066,
 'nextFiscalYearEnd': 1664150400,
 'mostRecentQuarter': 1616803200,
 'shortRatio': 1.52,
 'sharesShortPreviousMonthDate': 1620950400,
 'floatShares': 16670609616,
 'enterpriseValue': 2291207766016,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1620345600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 1.101,
 'dateShortInterest': 1623715200,
 'pegRatio': 1.45,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0064999997,
 'sharesShortPriorMonth': 94747255,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 133.11,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [22]:
info1.keys()

dict_keys(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city', 'phone', 'state', 'country', 'companyOfficers', 'website', 'maxAge', 'address1', 'industry', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'totalAssets', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'yield', 'algorithm', 'dividendRate', 'exDividendDate', 'beta', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'priceHint', 'currency', 'trailingPE', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'priceToSalesTrailing12Months', 'dayLow', 'ask', 'ytdReturn', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'forwardPE', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'profitMargins', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'sharesOutstanding', 'fundInceptionDate', 'annualReportExpenseRatio', 'bookValue', 'sharesShort', 'sharesPercentSharesOut', 'fundFamily', 'lastFiscalYearEnd', 'heldPercentInstitutions', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'heldPercentInsiders', 'nextFiscalYearEnd', 'mostRecentQuarter', 'shortRatio', 'sharesShortPreviousMonthDate', 'floatShares', 'enterpriseValue', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'dateShortInterest', 'pegRatio', 'lastCapGain', 'shortPercentOfFloat', 'sharesShortPriorMonth', 'impliedSharesOutstanding', 'category', 'fiveYearAverageReturn', 'regularMarketPrice', 'logo_url'])

#### Searching for matching keys
If you don't actually know what is the exact name for the info you need, you can try searching the keys for a match

In [27]:
match = [s for s in info1 if 'PE' in s]
match

['trailingPE', 'forwardPE']

In [28]:
info1['trailingPE'], info1['forwardPE']

(29.919085, 24.880375)

## Multiple stocks

So the example with just one stock is kind of limited.  You could just go to the webpage and get the same information as I had done earlier.  Of course, with the data in dict or Dataframes, I could then apply ML techniques  on it (the subject of a  future note).

Anyway, the power of using a library is in getting multiple stocks so you can run analysis across many stocks so you can compare the fundamentals or use some criteria to search for a new investment.

So for this, you will need to maybe write a helper function to merge the multiple dict to a single dataframe.

In [33]:
def download_info(ticker_list: list) -> pd.DataFrame:
    
    dres=[]
    for ticker in ticker_list:
        x = yf.Ticker(ticker)
        tmp1 = {'ticker':ticker}    # ticker name
        tmp1.update(x.info)         # add info to ticker name
        dres.append(tmp1)

    # we got an array of dictionaries.  change them to dataframes 
    xdf = pd.DataFrame.from_dict(dres)
    return xdf

In [34]:
xt = download_info(ticker_list)

In [35]:
xt.shape

(2, 125)

In [36]:
xt

,ticker,zip,sector,fullTimeEmployees,longBusinessSummary,city,phone,state,country,companyOfficers,...,pegRatio,lastCapGain,shortPercentOfFloat,sharesShortPriorMonth,impliedSharesOutstanding,category,fiveYearAverageReturn,regularMarketPrice,logo_url,fax
0,AAPL,95014,Technology,100000,"Apple Inc. designs, manufactures, and markets ...",Cupertino,408-996-1010,CA,United States,[],...,1.45,None,0.0065,94747255,None,None,None,133.11,https://logo.clearbit.com/apple.com,NaN
1,A,95051,Healthcare,16500,"Agilent Technologies, Inc. provides applicatio...",Santa Clara,800 227 9770,CA,United States,[],...,2.74,None,0.0084,2196668,None,None,None,147.28,https://logo.clearbit.com/agilent.com,866 497 1134

## Historical Price information
You can also query for the historical pricing info

In [43]:
mtickers = ['AAPL','FFH','FNV']

In [44]:
x=yf.download(mtickers, period="max", interval="1d")

[*********************100%***********************]  3 of 3 completed

In [45]:
x

             Adj Close                       Close                  \
                  AAPL FFH         FNV        AAPL FFH         FNV
Date
1980-12-12    0.100751 NaN         NaN    0.128348 NaN         NaN
1980-12-15    0.095495 NaN         NaN    0.121652 NaN         NaN
1980-12-16    0.088485 NaN         NaN    0.112723 NaN         NaN
1980-12-17    0.090676 NaN         NaN    0.115513 NaN         NaN
1980-12-18    0.093304 NaN         NaN    0.118862 NaN         NaN
...                ...  ..         ...         ...  ..         ...
2021-06-21  132.300003 NaN  148.119995  132.300003 NaN  148.119995
2021-06-22  133.979996 NaN  148.449997  133.979996 NaN  148.449997
2021-06-23  133.699997 NaN  146.210007  133.699997 NaN  146.210007
2021-06-24  133.410004 NaN  145.270004  133.410004 NaN  145.270004
2021-06-25  133.110001 NaN  145.229996  133.110001 NaN  145.229996

                  High                         Low                  \
                  AAPL FFH         FNV        AAPL FFH         FNV
Date
1980-12-12    0.128906 NaN         NaN    0.128348 NaN         NaN
1980-12-15    0.122210 NaN         NaN    0.121652 NaN         NaN
1980-12-16    0.113281 NaN         NaN    0.112723 NaN         NaN
1980-12-17    0.116071 NaN         NaN    0.115513 NaN         NaN
1980-12-18    0.119420 NaN         NaN    0.118862 NaN         NaN
...                ...  ..         ...         ...  ..         ...
2021-06-21  132.410004 NaN  148.559998  129.210007 NaN  145.169998
2021-06-22  134.080002 NaN  148.929993  131.619995 NaN  147.270004
2021-06-23  134.320007 NaN  149.960007  133.229996 NaN  146.199997
2021-06-24  134.639999 NaN  148.080002  132.929993 NaN  144.850006
2021-06-25  133.889999 NaN  146.600006  132.809998 NaN  144.419998

                  Open                     Volume
                  AAPL FFH         FNV       AAPL FFH       FNV
Date
1980-12-12    0.128348 NaN         NaN  469033600 NaN       NaN
1980-12-15    0.122210 NaN         NaN  175884800 NaN       NaN
1980-12-16    0.113281 NaN         NaN  105728000 NaN       NaN
1980-12-17    0.115513 NaN         NaN   86441600 NaN       NaN
1980-12-18    0.118862 NaN         NaN   73449600 NaN       NaN
...                ...  ..         ...        ...  ..       ...
2021-06-21  130.300003 NaN  146.110001   79663300 NaN  580300.0
2021-06-22  132.130005 NaN  147.789993   74783600 NaN  782200.0
2021-06-23  133.770004 NaN  149.740005   60214200 NaN  445600.0
2021-06-24  134.449997 NaN  147.369995   68711000 NaN  438600.0
2021-06-25  133.460007 NaN  146.050003   70730700 NaN  271300.0

[10221 rows x 18 columns]

In [38]:
hist1 = ticker1.history(period="max", interval="1d")
hist1

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12,0.100751,0.101189,0.100751,0.100751,469033600,0.0,0.0
1980-12-15,0.095933,0.095933,0.095495,0.095495,175884800,0.0,0.0
1980-12-16,0.088923,0.088923,0.088485,0.088485,105728000,0.0,0.0
1980-12-17,0.090676,0.091114,0.090676,0.090676,86441600,0.0,0.0
1980-12-18,0.093304,0.093742,0.093304,0.093304,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2021-06-21,130.300003,132.410004,129.210007,132.300003,79663300,0.0,0.0
2021-06-22,132.130005,134.080002,131.619995,133.979996,74783600,0.0,0.0
2021-06-23,133.770004,134.320007,133.229996,133.699997,60214200,0.0,0.0
2021-06-24,134.449997,134.639999,132.929993,133.410004,68711000,0.0,0.0
2021-06-25,133.460007,133.889999,132.809998,133.110001,70730700,0.0,0.0

In [17]:
# show actions
ticker1.actions

            Dividends  Stock Splits
Date
1987-05-11   0.000536           0.0
1987-06-16   0.000000           2.0
1987-08-10   0.000536           0.0
1987-11-17   0.000714           0.0
1988-02-12   0.000714           0.0
...               ...           ...
2020-08-07   0.205000           0.0
2020-08-31   0.000000           4.0
2020-11-06   0.205000           0.0
2021-02-05   0.205000           0.0
2021-05-07   0.220000           0.0

[76 rows x 2 columns]

In [18]:
# show financials
ticker1.financials

,2020-09-26,2019-09-28,2018-09-29,2017-09-30
Research Development,18752000000.0,16217000000.0,14236000000.0,11581000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,67091000000.0,65737000000.0,72903000000.0,64089000000.0
Minority Interest,None,None,None,None
Net Income,57411000000.0,55256000000.0,59531000000.0,48351000000.0
Selling General Administrative,19916000000.0,18245000000.0,16705000000.0,15261000000.0
Gross Profit,104956000000.0,98392000000.0,101839000000.0,88186000000.0
Ebit,66288000000.0,63930000000.0,70898000000.0,61344000000.0
Operating Income,66288000000.0,63930000000.0,70898000000.0,61344000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-2873000000.0,-3576000000.0,-3240000000.0,-2323000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,9680000000.0,10481000000.0,13372000000.0,15738000000.0
Total Revenue,274515000000.0,260174000000.0,265595000000.0,229234000000.0
Total Operating Expenses,208227000000.0,196244000000.0,194697000000.0,167890000000.0
Cost Of Revenue,169559000000.0,161782000000.0,163756000000.0,141048000000.0
Total Other Income Expense Net,803000000.0,1807000000.0,2005000000.0,2745000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,57411000000.0,55256000000.0,59531000000.0,48351000000.0
Net Income Applicable To Common Shares,57411000000.0,55256000000.0,59531000000.0,48351000000.0

In [19]:
ticker1.quarterly_financials

,2021-03-27,2020-12-26,2020-09-26,2020-06-27
Research Development,5262000000.0,5163000000.0,4978000000.0,4758000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,28011000000.0,33579000000.0,14901000000.0,13137000000.0
Minority Interest,None,None,None,None
Net Income,23630000000.0,28755000000.0,12673000000.0,11253000000.0
Selling General Administrative,5314000000.0,5631000000.0,4936000000.0,4831000000.0
Gross Profit,38079000000.0,44328000000.0,24689000000.0,22680000000.0
Ebit,27503000000.0,33534000000.0,14775000000.0,13091000000.0
Operating Income,27503000000.0,33534000000.0,14775000000.0,13091000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-670000000.0,-638000000.0,-634000000.0,-697000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,4381000000.0,4824000000.0,2228000000.0,1884000000.0
Total Revenue,89584000000.0,111439000000.0,64698000000.0,59685000000.0
Total Operating Expenses,62081000000.0,77905000000.0,49923000000.0,46594000000.0
Cost Of Revenue,51505000000.0,67111000000.0,40009000000.0,37005000000.0
Total Other Income Expense Net,508000000.0,45000000.0,126000000.0,46000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,23630000000.0,28755000000.0,12673000000.0,11253000000.0
Net Income Applicable To Common Shares,23630000000.0,28755000000.0,12673000000.0,11253000000.0

## Fixed issues

On Nov 15 2020 there were issues with getting cashflow and balance_sheet using the yfinance library.  This is now fixed (June 23 2021)

In [20]:
ticker1.balance_sheet

,2020-09-26,2019-09-28,2018-09-29,2017-09-30
Total Liab,2.585490e+11,2.480280e+11,2.585780e+11,2.412720e+11
Total Stockholder Equity,6.533900e+10,9.048800e+10,1.071470e+11,1.340470e+11
Other Current Liab,4.786700e+10,4.324200e+10,3.929300e+10,3.809900e+10
Total Assets,3.238880e+11,3.385160e+11,3.657250e+11,3.753190e+11
Common Stock,5.077900e+10,4.517400e+10,4.020100e+10,3.586700e+10
Other Current Assets,1.126400e+10,1.235200e+10,1.208700e+10,1.393600e+10
Retained Earnings,1.496600e+10,4.589800e+10,7.040000e+10,9.833000e+10
Other Liab,4.610800e+10,5.050300e+10,4.891400e+10,4.325100e+10
Treasury Stock,-4.060000e+08,-5.840000e+08,-3.454000e+09,-1.500000e+08
Other Assets,3.395200e+10,3.297800e+10,2.228300e+10,1.817700e+10
Cash,3.801600e+10,4.884400e+10,2.591300e+10,2.028900e+10
Total Current Liabilities,1.053920e+11,1.057180e+11,1.159290e+11,1.008140e+11
Short Long Term Debt,8.773000e+09,1.026000e+10,8.784000e+09,6.496000e+09
Other Stockholder Equity,-4.060000e+08,-5.840000e+08,-3.454000e+09,-1.500000e+08
Property Plant Equipment,4.533600e+10,3.737800e+10,4.130400e+10,3.378300e+10
Total Current Assets,1.437130e+11,1.628190e+11,1.313390e+11,1.286450e+11
Long Term Investments,1.008870e+11,1.053410e+11,1.707990e+11,1.947140e+11
Net Tangible Assets,6.533900e+10,9.048800e+10,1.071470e+11,1.340470e+11
Short Term Investments,5.292700e+10,5.171300e+10,4.038800e+10,5.389200e+10
Net Receivables,3.744500e+10,4.580400e+10,4.899500e+10,3.567300e+10
Long Term Debt,9.866700e+10,9.180700e+10,9.373500e+10,9.720700e+10
Inventory,4.061000e+09,4.106000e+09,3.956000e+09,4.855000e+09
Accounts Payable,4.229600e+10,4.623600e+10,5.588800e+10,4.424200e+10